<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPractice Guelpaz</title>

    <partial name="_Estilos" />

    @await RenderSectionAsync("Styles", required: false) 
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper" style="top: 5px;">
        <partial name="_Navbar" />
        <partial name="_Sidebar" />

        @RenderBody();

        <partial name="_Footer" />
        <partial name="_Script" />
    </div>

    @await RenderSectionAsync("Scripts", required: false) 
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebPractice</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Registros" asp-action="Index">Registros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Reportes
                            </a>
                            <div class="dropdown-menu" arialabelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="~/Registros/Imprimir">Imprimir</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="~/Registros/DescargarPdf">Pdf</a>
                            </div>
                        </li>

                    </ul>-->
                    @*Llamamos la vista parcial _RegistroDerecha*@
                    <!--<partial name="_RegistroDerecha"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #007bffc9; ">
        <div class="container text-white">
            &copy; 2022 - WebPractice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</body>
</html>
