@*Importamos la siguiente librería*@
@using Microsoft.AspNetCore.Identity

@*Inyectamos el siguiente código*@
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ml-auto">
    @*Verificamos si el usuario está autenticado*@
    @if (SignInManager.IsSignedIn(User))
            {
                //Muestra en la barra la bienvenida al usuario
                <li class="nav-item">
                    <a class="nav-link text-light" href="">Hola, @UserManager.GetUserName(User)</a>
                </li>
                //Muestra el boton salir
                <li class="nav-item">
                    <form id="LogoutForm" method="post" class="form-inline" asp-controller="Cuentas" asp-action="SalirAplicacion">
                        <button type="submit" class="btn nav-link">Salir</button>
                    </form>
                </li>
    }
    else
    {
        //El usuario no está autenticaod
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Cuentas" asp-action="Registro">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Cuentas" asp-action="Acceso">Acceder</a>
        </li>
    }
</ul>