@model RegistroUsuarios
    
@{
    //Para que muestre en el navegado un titulo
    ViewData["Title"] = "Registro de usuarios";
    //Utiliza la configuración de Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper d-flex justify-content-center align-items-center">

    <div class="card shadow rounded" style="width: 40rem;">

    @*Titulo*@
    <h1 class="text-success text-center p-3">Registro de Usuarios</h1>
    @*El formulario, Cuentas = Nombre del controlador, Registro = Nombre del método, metodo = post*@
    <form asp-controller="Cuentas" asp-action="Registro" method="post">
        <div class="container w-75 m-auto">
                @*Muestra las validaciones e rojo si es necesario*@
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    @*UserName = Nombre del campo, Utiliza dos columna de las 12 disponibles para el label*@
                    <label asp-for="Nombre" class="col-md-12"></label>
                    @*Para digitar le nombre utiliza 10 columnas de las doce disponibles*@
                    <div class="col-md-12">
                        @*Campo donde se digita el nombre*@
                        <input asp-for="Nombre" class="form-control" />
                        @*Valida que el campo cumple con todo*@
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Documento" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="Documento" class="form-control" />
                        <span asp-validation-for="Documento" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirPassword" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="ConfirPassword" class="form-control" />
                        <span asp-validation-for="ConfirPassword" class="text-danger"></span>
                    </div>
                </div>

                @*Creamos el div para registrarnos*@
                <div class="form-group ">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-success">Registrarse</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>

@*Utilizamos un scrip para llamar una vista parcial que vlaida al lado del cliente en JavaSript*@
@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}